a.link {
  line-height: 1.5;
  text-transform: uppercase;
}

.link--normal, .link--muted {
  cursor: pointer;
  color: $muted-color;
}

.link--normal:hover {
  text-decoration: underline;
}

.link--muted:hover {
  color: $muted-color;
}
