// TYPOGRAPHY
$main-font: "Roboto","Helvetica Neue Light",sans-serif;
$code-font: "Roboto Mono", monospace;

// COLOR PALETTE
$toolbar: #354A5F;
$white: #FFF;
$black: #000;
$title-color: #2b2d38;
$muted-color: #0366d6;
$primary-color: #673ab7;
$chips-bg: #e0e0e0;
$favorite: #FFF177;


// BLOCKS
$full-w-view: 100vw;
$full-h-view: 100vh;
$full-block: 100%;
$header-height: 64px;
$paginator-height: 75px;
